body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.con-name, .con-email, .con-mess {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

.con-sub {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.con-sub:hover {
  background-color: grey;
}

