.main-content {
    display: block;
    padding-top: 35px;
    opacity: 1;
}

.terms-of-services {
    /* font-family: 'Times New Roman', Times, serif; */
    padding: 1rem 2rem;
}

/* .terms-of-services h4 { */
    /* font-family: 'Times New Roman', Times, serif; */
    /* text-shadow: 2px 2px 10px #636363; */
/* } */

.terms-of-services h2{
    font-size: 1.8rem;
    /* font-family: 'Times New Roman', Times, serif; */
    margin-bottom: 0.9rem;
    /* text-shadow: 2px 2px 10px #636363; */
}

.terms-of-services p,.terms-of-services ul li {
    list-style-type: square;
    color: #6a6a6a;
    font-size: 14px;
		line-height: 22px;
    /* font-family: 'Times New Roman', Times, serif; */
}